[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
numpy = "*"
matplotlib = "*"
altair = "*"
pandas = "*"
plotnine = "*"
seaborn = "*"

[requires]
python_version = "3.7"
